
.review-form-container {
    margin-left: 30px;
    margin-bottom: 30px;
}

.review-form-title {
    text-align: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-star-rating-container {
    display: flex;
}

.overall-rating-title {
    font-size: larger;
    margin-top: 15px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-rating-container {
    display: inline-block;
}

.product-rating {
    display: flex;
    flex-direction: row-reverse;
}

.product-rating span {
    cursor: pointer;
    transition: color .2s, transform .2s;
    font-size: 30px;
    margin-right: 2px;
    color: #cacbd0;
}

.product-rating span:hover {
    color: orange;
    transform: scale(1.3);
}

.product-rating span:hover ~span {
    color: orange;
}

.product-rating span[data-clicked] {
    color: orange;
}

.product-rating span[data-clicked] ~span {
    color: orange;
}

.review-title {
    font-size: larger;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.review-title-input {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-comments {
    font-size: larger;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.review-comments-input {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review-submit {
    margin-top: 20px;
}