.productContainer a {
    color: inherit;
}
  
.productContainer a:hover,
.productContainer a:focus {
    text-decoration: none;
}

.prodImage {
    display: flex;
}

.prodName {
    font-weight: bold;
    text-transform: uppercase;
}

.prodName div[class^="slds-text-heading_"] {
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.tiled .prodDescription {
    height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}